*{
    margin: 0;
    font-family: sans-serif;
}

header{
    display: flex;
    gap: 600px;
    justify-content: space-around;
    margin: 30px;
}

.navbar a{
    margin: 30px;
    text-decoration: none;
    list-style: none;
    color: black;
    font-size: larger;
}

.navbar a:hover{
    background-color: rgb(216, 215, 215);
}

.hero-section{
    display: flex;
    justify-content: center;
    background-image:url(3D.jpg);
    background-position: center;
    background-size: cover; 
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: 30px;
    margin-right: 30px;
}

.hero-content{
    text-align: center;
    font-size: 60px;
    color:white;
    padding: 10px;
    border-radius: 10px;
}

.hero-content button{
    font-size: 20px;
    font-weight: 100px;
}

.content{
     box-shadow: 10px 10px lightblue;
}

.cart{
    display: flex;
    gap: 40px;
    width: 800px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom:100px;
    padding: 15px;
   
}

.content{
    text-align: center;
     border: 3px solid black;
    border-radius: 10px;
    padding: 30px;
}


.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width:900px;
    margin: 0 auto;
    padding: 30px 20px;
}

.gallery img{
    width: 450px;
    max-width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius:10px;
}

.form{
  width: 100px;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
  margin-top: 50px;
}

footer{
    border-top: 1px solid black; 
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
}